h1{
	
	text-align:center;
	font-size:40px;
	
}
label{
	
	
	font-size:20px;
}
body
{

background-color:#4169e1;
}

.table{
	text-align:center;

    width: 100%;

    border-collapse: collapse;

    border-spacing: 0;

    margin-bottom: 1%;
}

 button{
	 font-size:20px;
	 display: inline-block;
     margin:5 auto;
	 
 }

